* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

html {

    font-family: Arial, Helvetica, sans-serif;

}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    position: relative;
}
.searchCriteria {
    background-color: #E4BCD3;
    border-radius: 0.75rem;
    margin: 2rem 0rem 1rem 20rem;
    width: 55rem;
    text-align: center;
    padding: 0.2rem;
    
}
.hexaHeading {
    color: #4C3D46;
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif
    
}
.searchInput {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 1rem;
    
}
.number {
width: 25rem;
text-align: center;
padding:0.5rem;
border-radius: 0.5rem;
margin-left: 8rem;

}
.buttons {
    display: flex;
    margin-left: 2rem;
}
.generate {
 padding: 0.5rem;
 border-radius: 0.5rem;
 background-color: #90F79A;
 width: 5rem;
 margin-right: 0.2rem;
}
.stop {
    
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color:#DD5E55;
    width: 5rem;
}
.notes {
    color: #4C3D46;
}
.divColors {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.75rem;
    width: 55rem;
    padding: 0.2rem;
    height: 6rem;
    margin-left: 20rem;
    color:  #4C3D46;
    font-weight: 750;
    
}

.copy {
    
    width: 4rem;
    height: 2rem;
    text-align: center;
    padding: 0.2rem;
    border-radius: 0.38rem;
}
.copy:hover
{
    background-color: rgb(42, 42, 44);
}
