* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

html {

    font-family: Arial, Helvetica, sans-serif;

}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    position: relative;
}
.searchCriteria {
    font-size: 2rem;
    font-weight: 700;
    background-color: #E4BCD3;
    border-radius: 5px;
    margin-left: 300px;
    margin-bottom: 20px;
    margin-top: 30px;
    width: 50%;
    padding: 10px;
    
    
}
.searchInput {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.buttons {
    display : flex;
    flex-wrap: wrap;
    
    
}
.number {
display: flex;    
width: 400px;
text-align: center;
padding: 10px;
border-radius: 5px;
}
.generate {
 display: flex;   
 padding: 10px;
 border-radius: 5px;
 background-color: #90F79A;
}
.stop {
    display: flex;
    padding: 10px;
    border-radius: 5px;
    background-color:#DD5E55;
    margin-right: 10px;
    width: 60px;
    text-align: center;
}
.divColors {
    display: flex;
    justify-content: space-around;
    align-content: center;
    border-radius: 5px;
    margin-left: 300px;
    margin-right: 50px;
    width: 50%;
    padding: 10px;
    height: 100px;
}
.copy {
    display: flex;
    justify-content: flex-end;
    width: 80px;
    height: 40px;
    text-align: center;
    padding: 10px;
    border-radius: 7px;
}
